Code
{
  "name": "Meeting Automation Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -16
      ],
      "id": "5403f69c-ca32-40a1-9699-67f8ca4480f6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Akash\\.n8n-files\\transcript.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        -208
      ],
      "id": "4ef51974-971c-43d7-99ad-3b8b3b39d505",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        208
      ],
      "id": "7c49c6be-de51-444a-80f9-401da46061d6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization\t",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        128
      ],
      "id": "018fbbd5-5361-4ac8-9c98-300613e8f2b0",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "JJaNlj4aFYiDscM5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json.data;\n\nconst requestBody = {\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert meeting analyst. Analyze meeting transcripts and extract structured information. Return ONLY valid JSON, no extra text.\"\n    },\n    {\n      role: \"user\",\n      content: `Extract structured information from this transcript.\n\nReturn ONLY a valid JSON object with this exact structure:\n{\n  \"meeting_title\": \"string\",\n  \"date\": \"string\",\n  \"participants\": [\"string\"],\n  \"key_decisions\": [\"string\"],\n  \"action_items\": [\n    {\n      \"title\": \"string - short actionable title, max 80 chars\",\n      \"description\": \"string - detailed context from the meeting\",\n      \"assignee\": \"string or null\",\n      \"priority\": \"High or Medium or Low\",\n      \"due_date\": \"YYYY-MM-DD or null\",\n      \"source_quote\": \"exact quote from transcript\"\n    }\n  ],\n  \"discussion_highlights\": [\"string\"]\n}\n\nRules:\n- Extract ALL action items, even implicit ones like \"we should look into...\"\n- If no assignee is clear, set assignee to null\n- If no due date is mentioned, set due_date to null\n- For ambiguous items, set priority to Low\n- Include the exact source quote from the transcript\n- Do NOT invent items not discussed in the transcript\n\nHere is the transcript:\n\n${transcript}`\n    }\n  ],\n  temperature: 0.1,\n  response_format: { type: \"json_object\" }\n};\n\nreturn [{ json: requestBody }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -224
      ],
      "id": "83a51686-9746-4ea3-af65-633026c4e6e6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse(\n  $input.first().json.choices[0].message.content\n);\n\n// Return action items as separate items for looping\nconst items = response.action_items.map(item => ({\n  json: {\n    ...item,\n    meeting_title: response.meeting_title,\n    meeting_date: response.date,\n    participants: response.participants.join(', '),\n    key_decisions: response.key_decisions,\n    discussion_highlights: response.discussion_highlights\n  }\n}));\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -224
      ],
      "id": "fba199e9-db45-4a21-9757-69e34b9dbf55",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "tickets",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        16
      ],
      "id": "ea222d60-dc07-4335-843e-3083db8d43fc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const firstItem = $input.first()?.json || {};\nlet tickets = firstItem.tickets;\n\n// 1. Auto-detect the tickets array if the field name is different\nif (!tickets) {\n  for (const key in firstItem) {\n    if (Array.isArray(firstItem[key])) {\n      tickets = firstItem[key];\n      break;\n    }\n  }\n}\n\n// 2. Fallback: If it's an array itself or grouped differently\nif (!tickets && Array.isArray(firstItem)) {\n  tickets = firstItem;\n}\n\n// 3. Last resort fallback: grab all input items\nif (!tickets || tickets.length === 0) {\n  tickets = $input.all().map(item => item.json);\n}\n\n// 4. If still nothing, throw a descriptive error\nif (!tickets || tickets.length === 0) {\n  throw new Error(\"Could not find any ticket data. Input received: \" + JSON.stringify(firstItem));\n}\n\n// 5. Fetch the meeting metadata from the Groq parser node (Code in JavaScript1)\nconst metadata = $('Code in JavaScript1').first().json;\nconst jiraDomain = \"harshvarthan0310\"; // Your Jira subdomain\n\n// 6. Build ticket list\nconst ticketLines = tickets.map((t, index) => {\n  // Try to find the ticket key in various possible formats\n  const key = t.key || t.json?.key || 'Unknown-Key';\n  const originalTasks = $('Code in JavaScript1').all();\n  const summary = originalTasks[index]?.json?.title || 'Untitled Task';\n  return `• <https://${jiraDomain}.atlassian.net/browse/${key}|${key}> — ${summary}`;\n}).join('\\n');\n\n// 7. Build decisions list\nconst decisions = metadata.key_decisions\n  ? (Array.isArray(metadata.key_decisions) ? metadata.key_decisions.map(d => `• ${d}`).join('\\n') : `• ${metadata.key_decisions}`)\n  : 'None recorded';\n\n// 8. Build highlights\nconst highlights = metadata.discussion_highlights\n  ? (Array.isArray(metadata.discussion_highlights) ? metadata.discussion_highlights.map(h => `• ${h}`).join('\\n') : `• ${metadata.discussion_highlights}`)\n  : 'None recorded';\n\nconst slackPayload = {\n  blocks: [\n    {\n      type: \"header\",\n      text: {\n        type: \"plain_text\",\n        text: `📋 Meeting Summary: ${metadata.meeting_title || 'Sprint Planning'}`\n      }\n    },\n    {\n      type: \"context\",\n      elements: [{\n        type: \"mrkdwn\",\n        text: `📅 *Date:* ${metadata.meeting_date || 'Today'}  |  👥 *Participants:* ${metadata.participants || 'Team'}`\n      }]\n    },\n    { type: \"divider\" },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*🎯 Key Decisions:*\\n${decisions}`\n      }\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*🎫 Action Items (${tickets.length} tickets created):*\\n${ticketLines}`\n      }\n    },\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `*💡 Discussion Highlights:*\\n${highlights}`\n      }\n    },\n    { type: \"divider\" },\n    {\n      type: \"context\",\n      elements: [{\n        type: \"mrkdwn\",\n        text: \"🤖 _Auto-generated by Meeting Automation Pipeline (n8n)_\"\n      }]\n    }\n  ]\n};\n\nreturn [{ json: slackPayload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        224
      ],
      "id": "4fd1755c-93b4-4c3b-99d8-4b3a3271dea6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        224
      ],
      "id": "16d22b12-ed0d-4c66-9706-a7b367eef538",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://harshvarthan0310.atlassian.net/rest/api/3/issue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept ",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const accountIds = {\n    'Akash': '712020:a85b1885-0890-4932-a728-a633af9af9bc',\n    'Priya': '557058:d63603f6-d15c-4fb4-96c0-b0ac1112f419',\n    'Rahul': '557058:2df3ac89-389e-47b6-baaf-fe6208bc11b0'\n  };\n  const assigneeId = accountIds[$json.assignee];\n  \n  const payload = {\n    \"fields\": {\n      \"project\": {\n        \"key\": \"PAT\"\n      },\n      \"summary\": $json.title,\n      \"description\": {\n        \"type\": \"doc\",\n        \"version\": 1,\n        \"content\": [\n          {\n            \"type\": \"paragraph\",\n            \"content\": [\n              {\n                \"type\": \"text\",\n                \"text\": $json.description + \"\\n\\nAssignee: \" + ($json.assignee || 'Unassigned') + \"\\nPriority: \" + ($json.priority || 'Medium')\n              }\n            ]\n          }\n        ]\n      },\n      \"issuetype\": {\n        \"name\": \"Task\"\n      }\n    }\n  };\n  \n  // Only add the assignee field if they matched one of our users\n  if (assigneeId) {\n    payload.fields.assignee = { \"accountId\": assigneeId };\n  }\n  \n  return JSON.stringify(payload);\n})()\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -192
      ],
      "id": "bd9a721c-9b76-4645-97dc-eddb0981dd50",
      "name": "HTTP Request2",
      "credentials": {
        "httpBasicAuth": {
          "id": "zDeIE3ZICN3wAc7C",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa4363a7-7937-49a7-a8ce-748bc2562cc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d00dfee6aca0490f582c527d99cfc530eac8afe8dbe8aca2b81af1236b59ea9e"
  },
  "nodeGroups": [],
  "id": "JSQnzWkTCrHnEkg4",
  "tags": []
}
